.App {
  text-align: center;
}
.sbmilady1 {
  height: 40vmin;
  pointer-events: none;
}

.sidezone {
  padding: 10px;
}
.pfp {
  max-width: 140px;
  width: 140px;
}
.placeholder {
  border:2px solid #282c34;
  border-radius: 2px;
  
  max-width: 140px;
  width: 140px;
  height:175px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/unkown-milady.jpg');
}

.skill {
  background-color: dimgrey;
  color: chartreuse;
  font-family: monospace;
  font-size: 12px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-style: inset;
  border-width: 0px;
  padding-right: 0px;
  align-self: stretch;
  width: 100%;
}


.skillHeader{

}

.skilltext{
  list-style-type:none;
  display: contents;

}

.skilltexthead {
  display: block;
}

.skillitem {
  padding-left: 5px;
}

.container {
  margin-left:5vw;
  margin-right:5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  height: 250px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  border-radius: 0.5px;
  border-style: outset;
}
.flex-1 {
  /* width: 100px; */
  background-color: seagreen;
}

.flex-1.leftmost {
  color: black;
  font-size: 16px;;
  background-color: rgb(212, 28, 206);

}
.flex-2 {
  position: relative;
  flex: 1 1;
  align-self: stretch;
  background-color: #454f62;
  margin: 5px;
  padding: 5px;
}

.flex-2-child {
  margin-top: 5px;
  background-color: black;
  border-color: gold;
  border-style: inset;
  border-width: 2px;
  margin-left: 2px;
  padding: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
