/* https://stackoverflow.com/questions/15381172/how-can-i-make-flexbox-children-100-height-of-their-parent/50474036#50474036
 */
 .boxflag {
    color: chartreuse;
    /* display: block; */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color:  #454f62;
  }
  
  .box {
    display: flex;
    /* justify-content: space-between; */
    /* border-style: groove; */
    color: #454f62;
    border-radius: 0px;
    margin: 0;
    padding-bottom: 0;
    border-style: double;
  }